0302_IoT_Integrations/0302-05_Node-RED_OpenWeatherMap_API/OpenWeatherMapAPI_flow.txt
[{"id":"1a5d5e96.5913e1","type":"http request","z":"6a341cf9.a82644","name":"Get weather info","method":"GET","ret":"txt","url":"http://api.openweathermap.org/data/2.5/weather?q=Pilsen&units=metric&appid=your_API_ID","x":370,"y":100,"wires":[["e98f1f55.f7f86"]]},{"id":"56452842.68a558","type":"http request","z":"6a341cf9.a82644","name":"Post temperature to REX API","method":"POST","ret":"obj","url":"http://localhost:8008/api/data/weather_task/Temperature:ycn?data&mime=application/json","x":1130,"y":100,"wires":[["4d533f24.93c3d"]]},{"id":"a30d07e.cb47ef8","type":"function","z":"6a341cf9.a82644","name":"Wrap temperature","func":"return {\n    payload: '{\"v\":' + msg.payload.main.temp + '}',\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":870,"y":100,"wires":[["56452842.68a558"]]},{"id":"4d533f24.93c3d","type":"debug","z":"6a341cf9.a82644","name":"Result","active":false,"console":"false","complete":"payload","x":1350,"y":100,"wires":[]},{"id":"b94679d4.6467e8","type":"http request","z":"6a341cf9.a82644","name":"Post pressure to REX API","method":"POST","ret":"obj","url":"http://localhost:8008/api/data/weather_task/Pressure:ycn?data&mime=application/json","x":1110,"y":180,"wires":[["3b74de4b.d82a62"]]},{"id":"c7b3a0d8.fb836","type":"function","z":"6a341cf9.a82644","name":"Wrap pressure","func":"return {\n    payload: '{\"v\":' + msg.payload.main.pressure + '}',\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":860,"y":180,"wires":[["b94679d4.6467e8"]]},{"id":"3b74de4b.d82a62","type":"debug","z":"6a341cf9.a82644","name":"Result","active":false,"console":"false","complete":"payload","x":1350,"y":180,"wires":[]},{"id":"7648e1f7.6614","type":"http request","z":"6a341cf9.a82644","name":"Post humidity to REX API","method":"POST","ret":"obj","url":"http://localhost:8008/api/data/weather_task/Humidity:ycn?data&mime=application/json","x":1110,"y":260,"wires":[["a3f2f33b.82ee3"]]},{"id":"76e3aa77.71d024","type":"function","z":"6a341cf9.a82644","name":"Wrap humidity","func":"return {\n    payload: '{\"v\":' + msg.payload.main.humidity + '}',\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":860,"y":260,"wires":[["7648e1f7.6614"]]},{"id":"a3f2f33b.82ee3","type":"debug","z":"6a341cf9.a82644","name":"Result","active":false,"console":"false","complete":"payload","x":1350,"y":260,"wires":[]},{"id":"8e1af48.9eba308","type":"inject","z":"6a341cf9.a82644","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":170,"y":100,"wires":[["1a5d5e96.5913e1","819c3f3c.f0946"]]},{"id":"e98f1f55.f7f86","type":"json","z":"6a341cf9.a82644","name":"Parse response","x":580,"y":100,"wires":[["c7b3a0d8.fb836","a30d07e.cb47ef8","76e3aa77.71d024","575878df.4c41f8","98a39b9.f452468"]]},{"id":"dd4f1941.4aeee8","type":"http request","z":"6a341cf9.a82644","name":"Post weather to REX API","method":"POST","ret":"obj","url":"http://localhost:8008/api/data/weather_task/Weather:scv?data&mime=application/json","x":1110,"y":340,"wires":[["2085af54.25751"]]},{"id":"575878df.4c41f8","type":"function","z":"6a341cf9.a82644","name":"Wrap weather","func":"return {\n    payload: '{\"v\":\"' + msg.payload.weather[0].main + '\"}',\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["dd4f1941.4aeee8"]]},{"id":"2085af54.25751","type":"debug","z":"6a341cf9.a82644","name":"Result","active":false,"console":"false","complete":"payload","x":1350,"y":340,"wires":[]},{"id":"2dbdcfc6.8c59c","type":"http request","z":"6a341cf9.a82644","name":"Post description to REX API","method":"POST","ret":"obj","url":"http://localhost:8008/api/data/weather_task/Description:scv?data&mime=application/json","x":1120,"y":420,"wires":[["4a2f10e6.901ea"]]},{"id":"98a39b9.f452468","type":"function","z":"6a341cf9.a82644","name":"Wrap description","func":"return {\n    payload: '{\"v\":\"' + msg.payload.weather[0].description + '\"}',\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["2dbdcfc6.8c59c"]]},{"id":"4a2f10e6.901ea","type":"debug","z":"6a341cf9.a82644","name":"Result","active":false,"console":"false","complete":"payload","x":1350,"y":420,"wires":[]},{"id":"819c3f3c.f0946","type":"http request","z":"6a341cf9.a82644","name":"Get CNDR heating curve","method":"GET","ret":"txt","url":"http://localhost:8008/api/data/weather_task/CNDR_heating_curve:y?data&mime=application/json","x":410,"y":580,"wires":[["e32f1255.8e99d"]]},{"id":"e32f1255.8e99d","type":"debug","z":"6a341cf9.a82644","name":"supply water temperature","active":true,"console":"false","complete":"payload","x":690,"y":580,"wires":[]}]