0302_IoT_Integrations/0302-07_Node-RED_Vector_Data/VectorDataOverREST_flow.json
[{"id":"5097fd41.78de1c","type":"tab","label":"Flow 2"},{"id":"b8ff7dd8.112ce","type":"http request","z":"5097fd41.78de1c","name":"GET vector value over REX API","method":"GET","ret":"obj","url":"http://127.0.0.1:8008/api/data/rest_vector_data_task/TRNDV?export&mime=application/json","tls":"","x":370,"y":220,"wires":[["10238a73.fb524e"]]},{"id":"c5d99750.d7e24","type":"inject","z":"5097fd41.78de1c","name":"timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":150,"y":220,"wires":[["b8ff7dd8.112ce"]]},{"id":"7f7c1a0c.f75954","type":"debug","z":"5097fd41.78de1c","name":"CNR1","active":true,"console":"false","complete":"payload","x":870,"y":100,"wires":[]},{"id":"10238a73.fb524e","type":"function","z":"5097fd41.78de1c","name":"Parse response","func":"const data = msg.payload[0];\ndata.shift();\nconst msgs = [];\n\nfor(var i = 0; i < data.length; i++) {\n    var msg = { payload:data[i] };\n    msgs.push(msg);\n}\n\nreturn msgs;","outputs":"5","noerr":0,"x":620,"y":220,"wires":[["7f7c1a0c.f75954"],["8be10db6.2e7f18"],["44804762.7a5d4"],["55ee8e19.edb6c8"],["c3381cb1.1ef7f8"]]},{"id":"8be10db6.2e7f18","type":"debug","z":"5097fd41.78de1c","name":"CNR2","active":true,"console":"false","complete":"payload","x":870,"y":160,"wires":[]},{"id":"44804762.7a5d4","type":"debug","z":"5097fd41.78de1c","name":"CNR3","active":true,"console":"false","complete":"payload","x":870,"y":220,"wires":[]},{"id":"55ee8e19.edb6c8","type":"debug","z":"5097fd41.78de1c","name":"CNR4","active":true,"console":"false","complete":"payload","x":870,"y":280,"wires":[]},{"id":"c3381cb1.1ef7f8","type":"debug","z":"5097fd41.78de1c","name":"CNR5","active":true,"console":"false","complete":"payload","x":870,"y":340,"wires":[]}]