0302_IoT_Integrations/0302-06_Node-RED_MQTT/nodered_flow.txt
[{"id":"f2578dac.25c0e","type":"mqtt in","z":"2b19612b.951df6","name":"","topic":"rex_topic","qos":"2","broker":"84ac4906.638e88","x":121,"y":448,"wires":[["1de5a67e.df27d2","af48283e.c47138"]]},{"id":"1de5a67e.df27d2","type":"function","z":"2b19612b.951df6","name":"Parse data","func":"return {\n    payload: '{\"v\":' + msg.payload + '}',\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":309,"y":448,"wires":[["129ab107.989d5f","b5573783.3828a"]]},{"id":"129ab107.989d5f","type":"http request","z":"2b19612b.951df6","name":"POST data to REX API","method":"POST","ret":"obj","url":"http://localhost:8008/api/data/nodered_task/CNR_IN:ycn?data&mime=application/json","tls":"","x":539,"y":449,"wires":[["23305a8f.7feb16"]]},{"id":"b5573783.3828a","type":"debug","z":"2b19612b.951df6","name":"","active":true,"console":"false","complete":"false","x":523,"y":507,"wires":[]},{"id":"23305a8f.7feb16","type":"debug","z":"2b19612b.951df6","name":"","active":false,"console":"false","complete":"false","x":757,"y":449,"wires":[]},{"id":"af48283e.c47138","type":"debug","z":"2b19612b.951df6","name":"","active":false,"console":"false","complete":"false","x":308,"y":391,"wires":[]},{"id":"c433913e.24f92","type":"inject","z":"2b19612b.951df6","name":"","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":139,"y":173,"wires":[["32f2098b.2dd88e"]]},{"id":"32f2098b.2dd88e","type":"http request","z":"2b19612b.951df6","name":"GET data from REX API","method":"GET","ret":"txt","url":"http://localhost:8008/api/data/nodered_task/CNR_OUT:ycn?data&mime=application/json","tls":"","x":341,"y":173,"wires":[["cce75e18.ebc92","8a5159c3.c312e8"]]},{"id":"cce75e18.ebc92","type":"debug","z":"2b19612b.951df6","name":"","active":false,"console":"false","complete":"false","x":600,"y":100,"wires":[]},{"id":"4b4702c7.3fa2dc","type":"mqtt out","z":"2b19612b.951df6","name":"","topic":"rex_topic","qos":"","retain":"","broker":"84ac4906.638e88","x":831,"y":171,"wires":[]},{"id":"8a5159c3.c312e8","type":"function","z":"2b19612b.951df6","name":"Parse data","func":"return {\n    payload: JSON.parse(msg.payload).v,\n    headers: {\n         \"Content-type\" : \"application/json\"\n    }\n};","outputs":1,"noerr":0,"x":603,"y":171,"wires":[["4b4702c7.3fa2dc","f45a9395.9deb48"]]},{"id":"f45a9395.9deb48","type":"debug","z":"2b19612b.951df6","name":"","active":true,"console":"false","complete":"false","x":824,"y":237,"wires":[]},{"id":"84ac4906.638e88","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]